.idea/
__pycache__/
models/
dataset/*
!dataset/test.wav
!dataset/test_long.wav
log/
data/__pycache__/
utils/__pycache__/
lm/
tools/generate_audio/
build/
dist/
masr.egg-info/
dataset_LibriSpeech/
test*.py
