.idea/
__pycache__/
models/
dataset/*
!dataset/test.wav
!dataset/test_long.wav
log/
data/__pycache__/
utils/__pycache__/
lm/
tools/generate_audio/*
tools/generate_audio/generate_audio.py
tools/generate_audio/generate_corpus.py
build/
dist/
masr.egg-info/
dataset_LibriSpeech/
test*.py
